#category {
    #category-pie-chart {
        max-height: 12rem;
    }

    .security-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;

        &:hover {
            background-color: $theme-light;
            cursor: pointer;
        }
    }

    .search_box {
        background-color: $theme-faint;
        max-height: 12rem;
        overflow-y: auto;
    }
}
