// Fonts
@font-face {
    font-family: 'brand';
    src: url('/fonts/Roboto.ttf');
    font-style: normal;
    font-weight: normal;
}

// Icons
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Standard
@import 'defaults';
@import 'global';

// Specific
@import 'board';
@import 'button';
@import 'alert';
@import 'top-bar';
@import 'form';
@import 'footer';
@import 'login';
@import 'information-page';
@import 'cookie-notice';
@import 'plan';
@import 'premium';
@import 'spinner';
@import 'home';
@import 'guest';
@import 'ticker-flag';
@import 'how-it-works';
