#top-bar {
    height: 4.2rem;
    color: $grey3;
    padding: 0.7rem 0;
    background-color: $background;

    &.lined {
        border-bottom: 1px solid $theme;
    }

    .burger, .account {
        &:hover {
            color: $grey2;
        }
    }

    .burger {
        font-size: 1.3rem;
        margin-right: 1.3rem;
    }

    .account {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
    }

    .premium.button {
        display: flex;
        align-items: center;
        margin-right: 0.8rem;
        border-radius: 2rem;
        height: 1.7rem;
        color: $background;
        background-color: $grey3;

        &:hover {
            background-color: $grey2;
        }
    }

    .brand {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        color: $theme;
        text-decoration: none;

        img {
            height: 95%;
        }
        span {
            font-size: 1.3rem;
            margin-left: 0.5rem;
            font-family: brand, sans-serif;
            padding-top: 0.2rem;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
        }
    }
}
